<!--- Begin Banner --->
<div class= 'row'>
    <div class= 'col-xs-12'>
        <div class= "jumbotron">
            HEADER
        </div>
    </div>
</div>

<!--- Begin Row 1 --->
<div class= 'row'>
    <div class= 'col-xs-3'>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Profile</p>
          </div>
        </div>
    </div>
    <div class= 'col-xs-6'>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Trolls</p>
          </div>
        </div>
    </div>
    <div class= 'col-xs-3'>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Who To Troll</p>
          </div>
        </div>
    </div>
</div>

<!--- Begin Row 2 --->
<div class= 'row'>
    <div class= 'col-xs-3 col-xs-offset-9'>
        <div class="panel panel-default">
            <div class="panel-body">
            <p>Trends</p>
            </div>
        </div>
    </div>
</div>